*~
*.elc
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/doc/bbdb.aux
/doc/bbdb.cp
/doc/bbdb.cps
/doc/bbdb.fn
/doc/bbdb.info
/doc/bbdb.ky
/doc/bbdb.log
/doc/bbdb.pdf
/doc/bbdb.pg
/doc/bbdb.toc
/doc/bbdb.tp
/doc/bbdb.vr
/doc/texinfo.tex
/install-sh
/lisp/TAGS
/lisp/bbdb-loaddefs.el
/lisp/bbdb-version.el
/missing
Makefile
Makefile.in
