Source: bbdb
Section: mail
Priority: optional
Maintainer: Joerg Jaspert <joerg@debian.org>
Uploaders: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 8),
    autotools-dev (>= 20100122.1~)
Build-Depends-Indep: texinfo, texi2html, ghostscript,
    texlive-base, texlive-latex-base,
    emacs23-nox | emacs23 | emacs
Standards-Version: 3.9.1
Vcs-Git: git://github.com/barak/BBDB.git
Vcs-Browser: http://github.com/barak/BBDB
Homepage: http://bbdb.sourceforge.net/

Package: bbdb
Architecture: all
Depends: make, emacs23 | emacsen, ${misc:Depends}, ${perl:Depends}
Suggests: vm, w3m-el, gnuserv, gnus|t-gnus, perl
Description: The Insidious Big Brother Database (email rolodex) for Emacs
 BBDB is a rolodex-like database program for GNU Emacs.  BBDB stands
 for Insidious Big Brother Database, and is not, repeat, *not* an
 obscure reference to the Buck Rogers TV series.
