Source: bbdb3
Section: mail
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 8),
	       dh-autoreconf,
	       texinfo,
	       emacs23-nox | emacs23 | emacs
Standards-Version: 3.9.2
Homepage: http://savannah.nongnu.org/projects/bbdb/
Vcs-Git: git://git.debian.org/collab-maint/bbdb3.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/bbdb3.git;a=summary

Package: bbdb3
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, vm
Replaces: bbdb
Provides: bbdb
Breaks: bbdb (<< 3)
Description: Reboot of the BBDB Insidious Big Brother Database for Emacs
 This is a reboot of BBDB, the Insidious Big Brother Database for
 Emacs.  It provides an address book for email and snail mail
 addresses, phone numbers and the like.  It can be linked with various
 Emacs mail clients (Rmail, Gnus, VM).  BBDB is fully customizable.
