Source: bbdb
Section: mail
Priority: optional
Maintainer: Joerg Jaspert <joerg@debian.org>
Build-Depends-Indep: debhelper (>= 7), emacs22 | emacs23, texinfo, texi2html
Standards-Version: 3.8.3

Package: bbdb
Architecture: all
Depends: make, emacs23 | emacsen
Suggests: vm, w3-el-e21, gnuserv, gnus|t-gnus, perl
Description: The Insidious Big Brother Database (email rolodex) for Emacs
 BBDB is a rolodex-like database program for GNU Emacs.  BBDB stands
 for Insidious Big Brother Database, and is not, repeat, *not* an
 obscure reference to the Buck Rogers TV series.
