#!/usr/bin/make -f

build clean install binary-arch binary-indep binary:
	dh $@

.PHONY: build clean install binary-arch binary-indep binary

override_dh_auto_build: bits.tar.gz
	$(MAKE) -C texinfo bbdb.info bbdb.pdf
	cd texinfo && texi2html -split=chapter bbdb.texinfo

override_dh_install:
	dh_install
	cd debian/bbdb/usr/bin && \
	for f in *.pl; do \
	  mv $$f $$(basename $$f .pl); \
	done
	patch debian/bbdb/usr/share/emacs/site-lisp/bbdb/Makefile debian/patch/Makefile.patch
	patch debian/bbdb/usr/share/emacs/site-lisp/bbdb/lisp/Makefile debian/patch/lisp/Makefile.patch

bits.tar.gz:
	tar -czf bits.tar.gz bits/
